body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42px;
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    padding-bottom: 8px;
}

ol li{
    padding: 6px;
}

p,a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}

input{
    padding: 8px;
}
.continer{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
/* header/---------------------------------- */

.header .header-wrap .logo{
    color: antiquewhite;
    font-size: 24px;
}

/* footer------------------------------------ */
.footer{
    border-top: 1px solid black;
}
.footer .footer-wrap .other-links li{
    padding: 8px 16px;
    border-radius: 6px;
}

.footer .footer-wrap .other-links li:hover{
    background-color: #eee;
}