/* .canvas .canvas-wrap{
    background-color: #eee;
    padding:24px;
} */
.canvas{
    height: 100vh;
}
.canvas .canvas-wrap .cal-wrap .title{
    border-bottom: 1px solid black;
}
.canvas .canvas-wrap .cal-wrap{
    width: 50%;
}
.canvas .canvas-wrap .cal-wrap form{
    display: grid;
    gap: 8px;
}
.canvas .canvas-wrap .cal-wrap form label{
    font-size: 14px;
}
.canvas .canvas-wrap .cal-wrap form input{
    display: flex;
    width: 100%;
}